<!--
@@ Sample example to illsutrate the routing in angular js
-->
<!DOCTYPE html>
<html lang="en" ng-app="">
	<head>
		<meta charset="utf-8">
		<title>Angular Js getting started with directives</title>
		<script src="/js/Angular/Angular-min-1.5.8.js"></script>
	</head>
	<body style="background-color: #d6d5e2">
		<center><h1 style="color: blue;">Getting Started with Angular js</h1></center><hr />
		<center>
		<p><b>Illustrating the use of ng-include</b></p>
		<div ng-include="'html/welcome.html'"></div>
		</center>
		<br />
		<a ng-href="html/mainPage.html">Learn Angualr</a>
	</body>
</html>