<!DOCTYPE html>
<html lang="en" ng-app="learningApp">

<head>
    <meta charset="utf-8">
    <title>Learning MEAN Stack</title>
    <script src="/js/Angular/Angular.min.js"></script>
    <script src="/js/Angular/Angular-route.min.js"></script>
    <script src="/js/Controllers/appController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
    <div ng-view></div>
    <div ng-controller="headerController">
        <div ng-include="header.url"></div>
    </div>
    <div ng-controller="centerController">
        <div ng-include="centerContent.url"></div>
    </div>
    <!--<div ng-controller="footerController">
             <div ng-include="=footer.url"></div>
        </div>-->
</body>

</html>